<!DOCTYPE html>
<html>

<head>
  <meta charset=utf-8>
  <meta name=renderer content=webkit>
  <meta name=viewport content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=0">
  <title>imxex</title>{%for lang in langs%}
  <link rel="preload" href="{{lang.jsonFilePath}}" as="fetch" crossorigin> {%endfor%}
  <link href=./static/css/app.5c5e63f71fb21a8826c9b1e14559f1fe.css rel=stylesheet>
</head>

<body>
  <div id=app></div>
  <script type=text/javascript src=./static/js/manifest.58c229ee84b4c30fa40d.js></script>
  <script type=text/javascript src=./static/js/vendor.dcf6572672f3c8ed2b47.js></script>
  <script type=text/javascript src=./static/js/app.63900d19cae2da377503.js></script>
</body>

</html>