//  默认色调
$primary: #101629;

$bg-header: #1E2846;

$bg-content: #1E2846;

$btn-red: #ae4e54;
$btn-green: #589065;
$btn-blue: #4A90E2;

$border-color1: #DEDEDE;

$font-color1: #ffffff;
$font-color2: #282C32;
$font-color3: #4c7aa6;
$font-color4: #4A90E2;
$font-color5: #c7cce6;
$font-color6: #ae4e54;
$font-color7: #589065;
$font-color8: #101629;

$line-color: #2E3752;
$fz-color: #F9F9F9;
$table-header-color: #F4F5F7;

$bg-white: #fff;
$bg-gray: #999999;

$auth-color1: #FFFDF8;
$auth-color2: #101628;
$auth-color3: #C0A062;